In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import *

In [74]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [75]:
data.dtypes

imdb_id                  object
budget                    int64
revenue                   int64
original_title           object
cast                     object
director                 object
tagline                  object
overview                 object
runtime                   int64
genres                   object
production_companies     object
release_date             object
vote_average            float64
release_year              int64
dtype: object

# Предобработка

In [76]:
answers = {}  # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...

 #### 6-10 Задача

In [77]:
# Создадим датафрейм с колонкой "profit"
# и колонками "imdb_id", "budget", "revenue", "original_title"
# на основе копии исходного датафрейма, что бы случайно не
# испортить его.
data_profit = data.copy()
data_profit['profit'] = data_profit['revenue'] - data_profit['budget']
data_profit = data_profit[['imdb_id', 'budget',
                           'revenue', 'profit',
                           'original_title', 'release_year']]
data_profit.head(5)

,imdb_id,budget,revenue,profit,original_title,release_year
0,tt0369610,150000000,1513528810,1363528810,Jurassic World,2015
1,tt1392190,150000000,378436354,228436354,Mad Max: Fury Road,2015
2,tt2908446,110000000,295238201,185238201,Insurgent,2015
3,tt2488496,200000000,2068178225,1868178225,Star Wars: The Force Awakens,2015
4,tt2820852,190000000,1506249360,1316249360,Furious 7,2015

#### 11-20 Задача

In [78]:
# Создадим функцию которая возвращает датафрейм из атрибута и его частоты

def freq_atr(df, atr, sep):
    # не работает без Pandas

    freq_atr_dict = {}

    for i in df[f'{atr}']:
        for j in i.split(f'{sep}'):
            if j not in freq_atr_dict.keys():
                freq_atr_dict[j] = 1
            else:
                freq_atr_dict[j] = freq_atr_dict[j]+1

    ret_ferq_df = pd.DataFrame({f'{atr}': freq_atr_dict.keys(),
                                'frequency': freq_atr_dict.values()})

    return ret_ferq_df

#freq_atr(data_sm, 'genres','|')


# Создадим датафрейм с колонкой "profit"
# и колонками "imdb_id", "budget", "revenue", "original_title"
# на основе копии исходного датафрейма, что бы случайно не
# испортить его.
data_sm = data.copy()
data_sm['profit'] = data_sm['revenue'] - data_sm['budget']
data_sm = data_sm[['imdb_id', 'budget',
                   'revenue', 'profit',
                   'original_title', 'release_year',
                   'genres', 'director',
                   'cast', 'production_companies',
                   'release_date', 'overview',
                   'vote_average']]

# Создадим датафрейм с "profit" > 0
data_sm_prfitble = data_sm[data_sm['profit'] > 0]

# Для второго способа нужно подготовить суммарный датафрейм с списками
# вместо строк по разделителю "|", создадим для этого функцию
data_sm_adv = data_sm.apply(lambda x: x.str.split(
    '|') if x.dtypes == object else x)
data_sm_adv

,imdb_id,budget,revenue,profit,original_title,release_year,genres,director,cast,production_companies,release_date,overview,vote_average
0,[tt0369610],150000000,1513528810,1363528810,[Jurassic World],2015,"[Action, Adventure, Science Fiction, Thriller]",[Colin Trevorrow],"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Universal Studios, Amblin Entertainment, Lege...",[6/9/2015],[Twenty-two years after the events of Jurassic...,6.5
1,[tt1392190],150000000,378436354,228436354,[Mad Max: Fury Road],2015,"[Action, Adventure, Science Fiction, Thriller]",[George Miller],"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...","[Village Roadshow Pictures, Kennedy Miller Pro...",[5/13/2015],[An apocalyptic story set in the furthest reac...,7.1
2,[tt2908446],110000000,295238201,185238201,[Insurgent],2015,"[Adventure, Science Fiction, Thriller]",[Robert Schwentke],"[Shailene Woodley, Theo James, Kate Winslet, A...","[Summit Entertainment, Mandeville Films, Red W...",[3/18/2015],[Beatrice Prior must confront her inner demons...,6.3
3,[tt2488496],200000000,2068178225,1868178225,[Star Wars: The Force Awakens],2015,"[Action, Adventure, Science Fiction, Fantasy]",[J.J. Abrams],"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...","[Lucasfilm, Truenorth Productions, Bad Robot]",[12/15/2015],[Thirty years after defeating the Galactic Emp...,7.5
4,[tt2820852],190000000,1506249360,1316249360,[Furious 7],2015,"[Action, Crime, Thriller]",[James Wan],"[Vin Diesel, Paul Walker, Jason Statham, Miche...","[Universal Pictures, Original Film, Media Righ...",[4/1/2015],[Deckard Shaw seeks revenge against Dominic To...,7.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,[tt0120903],75000000,157299717,82299717,[X-Men],2000,"[Adventure, Action, Science Fiction]",[Bryan Singer],"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...","[Twentieth Century Fox Film Corporation, Donne...",[7/13/2000],"[Two mutants, Rogue and Wolverine, come to a p...",6.6
1885,[tt0192255],22000000,13555988,-8444012,[The Little Vampire],2000,"[Horror, Family, Foreign]",[Uli Edel],"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",[New Line Cinema],[10/27/2000],"[Based on the popular books, the story tells o...",6.4
1886,[tt0131704],76000000,35134820,-40865180,[The Adventures of Rocky & Bullwinkle],2000,"[Adventure, Animation, Action, Comedy, Family]",[Des McAnuff],"[Rene Russo, Jason Alexander, Piper Perabo, Ra...","[Universal Pictures, Capella International, KC...",[6/30/2000],[Rocky and Bullwinkle have been living off the...,4.0
1887,[tt0162983],40000000,36037909,-3962091,[Hanging Up],2000,"[Comedy, Drama]",[Diane Keaton],"[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...","[Laurence Mark Productions, Columbia Pictures ...",[2/16/2000],[A trio of sisters bond over their ambivalence...,5.2
1888,[tt0163676],15000000,5217498,-9782502,[The In Crowd],2000,[Thriller],[Mary Lambert],"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",[Warner Bros. Pictures],[7/19/2000],[A mentally disturbed young woman takes a job ...,5.2

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [79]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
answers['1'] = '2. Spider-Man 3 (tt0413300)'

# запишите свой вариант ответа
# Ответ:(+)
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# если ответили верно, можете добавить комментарий со значком "+"

In [141]:
# тут пишем ваш код для решения данного вопроса:
# ====================================================================
# мой код и мои комментарии =):

# Отфильтруем исходный DataFrame по максимальному значению в
# колонке "budget".
bigest_budget_film_df = data[data['budget'] == data['budget'].max()]

# Получим имя и imdb id в форме ответа
original_title_of = bigest_budget_film_df['original_title'].iloc[0]
imdb_id_of = bigest_budget_film_df['imdb_id'].iloc[0]
str_for_answer1 = f'{original_title_of} ({imdb_id_of})'

str_for_answer1

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [81]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [82]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать

# Ответ:(+)
answers['2'] = 'Gods and Generals (tt0279111)'

In [83]:
# Решение
# Аналогично Задаче 1.
# Отфильтруем исходный DataFrame по максимальному значению в
# колонке "runtime".
longest_film_df = data[data['runtime'] == data['runtime'].max()]

# Получим имя и imdb id в форме ответа
original_title_of = longest_film_df['original_title'].iloc[0]
imdb_id_of = longest_film_df['imdb_id'].iloc[0]

str_for_answer2 = f'{original_title_of} ({imdb_id_of})'
str_for_answer2

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [84]:
# Ответ:(+)
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [85]:
# Решение
# Аналогично Задаче 1.
# Отфильтруем исходный DataFrame по минимальному значению в
# колонке "runtime".
shortest_film_df = data[data['runtime'] == data['runtime'].min()]

# Получим имя и imdb id в форме ответа
original_title_of = shortest_film_df['original_title'].iloc[0]
imdb_id_of = shortest_film_df['imdb_id'].iloc[0]

str_for_answer3 = f'{original_title_of} ({imdb_id_of})'
str_for_answer3

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [86]:
# Ответ:(+)
answers['4'] = '110'

In [87]:
# Решение
runtime_mean = data['runtime'].mean()

# Получим в форме ответа
str_for_answer4 = str(round(runtime_mean))
str_for_answer4

'110'

# 5. Каково медианное значение длительности фильмов?

In [88]:
# Ответ:(+)
answers['5'] = '107'

In [89]:
# Решение
runtime_median = data['runtime'].median()

# Получим в форме ответа
str_for_answer5 = str(round(runtime_median))
str_for_answer5

'107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [90]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [91]:
# Ответ:(+)
answers['6'] = 'Avatar (tt0499549)'

In [92]:
# Решение
# Отфильтруем Подготовленный DataFrame по максимальному значению в
# колонке "profit".
most_profitable_film = data_profit[data_profit['profit']
                                   == data_profit['profit'].max()]

# Получим имя и imdb id в форме ответа
original_title_of = most_profitable_film['original_title'].iloc[0]
imdb_id_of = most_profitable_film['imdb_id'].iloc[0]

str_for_answer6 = f'{original_title_of} ({imdb_id_of})'
str_for_answer6

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [93]:
# Ответ:(+)
answers['7'] = 'The Lone Ranger (tt1210819)'

In [94]:
# Решение
# Отфильтруем Подготовленный DataFrame по минимальному значению в
# колонке "profit".
most_unprofitable_film = data_profit[data_profit['profit']
                                   == data_profit['profit'].min()]

# Получим имя и imdb id в форме ответа
original_title_of = most_unprofitable_film['original_title'].iloc[0]
imdb_id_of = most_unprofitable_film['imdb_id'].iloc[0]

str_for_answer7 = f'{original_title_of} ({imdb_id_of})'
str_for_answer7

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [95]:
# Ответ:(+)
answers['8'] = '1478'

In [96]:
# Решение
# Отфильтруем Подготовленный DataFrame с значениями > 10 в
# колонке "profit".
profitable_films_df = data_profit[data_profit['profit'] > 0]

# Получим ответ
str_for_answer8 = str(len(profitable_films_df.index))
str_for_answer8

'1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [97]:
# Ответ:(+)
answers['9'] = 'The Dark Knight (tt0468569)'

In [98]:
# Решение
# Отфильтруем Подготовленный DataFrame c значением равным "2008" в
# колонке "release_year".
films_2008 = data_profit[data_profit['release_year']
                         == 2008]

# Отфильтруем "films_2008" DataFrame c максимальным значением в
# колонке "revenue".
highest_grossing_film_2008 = films_2008[films_2008['revenue']
                                        == films_2008['revenue'].max()]

# Получим имя и imdb id в форме ответа
original_title_of = highest_grossing_film_2008['original_title'].iloc[0]
imdb_id_of = highest_grossing_film_2008['imdb_id'].iloc[0]

str_for_answer9 = f'{original_title_of} ({imdb_id_of})'
str_for_answer9

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [99]:
# Ответ:(+)
answers['10'] = 'The Lone Ranger (tt1210819)'

In [100]:
# Решение
# Отфильтруем Подготовленный DataFrame c значением равным "2012 - 2014" в
# колонке "release_year". unprofitable
films_2012_2014 = data_profit[(data_profit['release_year']
                               >= 2012) &
                              (data_profit['release_year']
                               <= 2014)]

# most_unprofitable_film_2012_2014 == muf_12_14
muf_12_14 = films_2012_2014[films_2012_2014['profit']
                            == films_2012_2014['profit'].min()]

# Получим имя и imdb id в форме ответа
original_title_of = muf_12_14['original_title'].iloc[0]
imdb_id_of = muf_12_14['imdb_id'].iloc[0]

str_for_answer10 = f'{original_title_of} ({imdb_id_of})'
str_for_answer10

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [101]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# второй способ с помощью groupby!!

In [102]:
# Ответ(+):
answers['11'] = 'Drama'

In [103]:
# Решение
# Отфильтруем Подготовленный DataFrame c максимальным значением значением
genres_frec_df = freq_atr(data_sm, 'genres','|')
max_freq_genre = genres_frec_df[genres_frec_df['frequency']
                                == genres_frec_df['frequency'].max()]
# Получим ответ
str_for_answer11 = str(max_freq_genre['genres'].iloc[0])
str_for_answer11

'Drama'

ВАРИАНТ 2

In [104]:
# Через groupeby и explode
ddf11 = data_sm_adv.explode('genres')
# Получим ответ
ddf11.groupby(by='genres')['imdb_id'].count(
).sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [105]:
# Ответ(+)
answers['12'] = 'Drama'

In [106]:
# Решение
# Отфильтруем Подготовленный DataFrame c максимальным значением значением
genres_frec_df_prft = freq_atr(data_sm_prfitble, 'genres', '|')
max_freq_genre_prft = genres_frec_df_prft[genres_frec_df_prft['frequency']
                            == genres_frec_df_prft['frequency'].max()]

# Получим ответ
str_for_answer12 = str(max_freq_genre_prft['genres'].iloc[0])
str_for_answer12

'Drama'

ВАРИАНТ 2

In [107]:
# Через groupeby и explode
ddf12 = data_sm_adv[data_sm_adv['profit'] > 0].explode('genres')
# Получим ответ
ddf12.groupby(by='genres')['imdb_id'].count(
).sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [108]:
# Ответ(+)
answers['13'] = 'Peter Jackson'

In [109]:
ddf13 = data_sm_adv.explode('director')
ddf13.groupby(by='director')['revenue'].sum(
).sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [110]:
# Ответ(+)
answers['14'] = 'Robert Rodriguez'

In [111]:
ddf14 = ddf13.explode('genres')
ddf14[ddf14['genres'] == 'Action']['director'].value_counts(
).sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [112]:
# Ответ(+)
answers['15'] = 'Chris Hemsworth'

In [113]:
ddf15 = data_sm_adv[data_sm_adv['release_year'] == 2012]
ddf15.explode('cast').groupby(by='cast').sum(
).sort_values(by='revenue', ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [114]:
# Ответ(+)
answers['16'] = 'Matt Damon'

In [115]:
ddf16 = data_sm_adv[data_sm_adv['budget'] > data_sm_adv['budget'].mean()]
ddf16.explode('cast').groupby(by='cast')[
    'imdb_id'].count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [116]:
# Ответ(+)
answers['17'] = 'Action'

In [117]:
ddf17 = data_sm_adv.explode('cast')
ddf17[ddf17['cast'] == 'Nicolas Cage'].explode(
    'genres')['genres'].value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [118]:
# Ответ(+)
answers['18'] = 'K-19: The Widowmaker'

In [119]:
ddf18 = data_sm_adv.explode('production_companies')
ddf18 = ddf18[ddf18['production_companies'] == 'Paramount Pictures']
ddf18[ddf18['profit'] == ddf18['profit'].min()]['original_title'].iloc[0][0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [120]:
# Ответ(+)
answers['19'] = '2015'

In [121]:
ddf19 = data_sm_adv.groupby(by = 'release_year').sum()
ddf19['revenue'].sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [122]:
# Ответ(+)
answers['20'] = '2014'

In [123]:
ddf20 = data_sm_adv.explode('production_companies')
ddf20 = ddf20[ddf20.production_companies.str.contains('Warner Bros')]
ddf20 = ddf20.groupby(by = 'release_year').sum()
ddf20['profit'].sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [124]:
# Ответ(+)
answers['21'] = 'September'

In [125]:
ddf21 = data_sm_adv.copy()
ddf21['release_date'] = data['release_date']  # что бы столбец был str
ddf21['release_date'] = pd.to_datetime(
    ddf21['release_date'], format='%m/%d/%Y')
ddf21['relise_month'] = ddf21['release_date'].dt.month_name()
ddf21.groupby(by='relise_month')['imdb_id'].count(
).sort_values(ascending=False).index[0]

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [126]:
# Ответ(+)
answers['22'] = '450'

In [127]:
ddf22 = ddf21.groupby(by='relise_month').count()
ddf22.query('relise_month in ["August","July","June"]')['imdb_id'].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [142]:
# Ответ:(+)
answers['23'] = 'Peter Jackson'

In [129]:
#ddf21.query('relise_month in ["January ","February ","March "]')
ddf23 = ddf21[(ddf21['relise_month'] == 'January') | 
              (ddf21['relise_month'] == 'February') | 
              (ddf21['relise_month'] == 'December')]

ddf23 = ddf23.explode('director').groupby(by = 'director').count()
ddf23['imdb_id'].sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [143]:
# Ответ:(+)
answers['24'] = 'Four By Two Productions'

In [131]:
# скопировали датафрейм
ddf24 = data_sm_adv.copy()

# извлекли строки из списка и поместили их в ту же колонку
ddf24['original_title'] = ddf24['original_title'].apply(lambda x: x[0])

# добавили колонку с длинной названия фильма
ddf24['len_original_title'] = ddf24['original_title'].apply(lambda x: len(x))

# подготовили датафрейм и колонку к анализу
ddf24 = ddf24.explode('production_companies')
ddf24['production_companies'] = ddf24['production_companies'].apply(
    lambda x: x.replace(x, 'WB') if 'Warner Bros' in x else x)
# спорное утверждение по заданию нов треде эксперт советовал сделать 
# именно так:
ddf24[ddf24['len_original_title'] == ddf24['len_original_title'].max()
      ]['production_companies']

1448    Twentieth Century Fox Film Corporation
1448                   Four By Two Productions
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [132]:
# Ответ:(+)
answers['25'] = 'Midnight Picture Show'

In [133]:
ddf25 = data_sm_adv.copy()
ddf25['overview'] = ddf25['overview'].apply(lambda x: x[0])
ddf25['len_overview'] = ddf25['overview'].apply(lambda x: x.split()).apply(len)
ddf25 = ddf25.explode('production_companies')
ddf25['production_companies'] = ddf25['production_companies'].apply(
    lambda x: x.replace(x, 'WB') if 'Warner Bros' in x else x)
ddf25 = ddf25.groupby('production_companies').len_overview.mean()
ddf25[ddf25 == ddf25.max()]

production_companies
Midnight Picture Show    175.0
Name: len_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [144]:
# Ответ:(+)
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [135]:
ddf26 = data_sm_adv.copy()
ddf26.original_title[ddf26.vote_average.quantile(.99) < ddf26.vote_average]

9                                          [Inside Out]
34                                               [Room]
118                                      [Interstellar]
119                           [Guardians of the Galaxy]
125                                [The Imitation Game]
128                                         [Gone Girl]
138                          [The Grand Budapest Hotel]
370                                         [Inception]
599                                   [The Dark Knight]
872                                       [The Pianist]
1081    [The Lord of the Rings: The Return of the King]
1183                          [The Wolf of Wall Street]
1191                                 [12 Years a Slave]
1800                                          [Memento]
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [145]:
# Ответ:(+)
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [137]:
ddf27 = data_sm_adv.copy()
unique_casts = ddf27.explode('cast')['cast'].unique()
ddf27 = ddf27[['imdb_id','cast']]

def megalo_func(x):    
    lst = []
    for i in (combinations(x, 2)):
        lst.append(i)
    
    return lst

ddf27['coupls'] = ddf27['cast'].apply(megalo_func)           
#Counter(data.cast_comb.values.sum()).most_common(5)

Counter(ddf27['coupls'].values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

ВАРИАНТ 2

# Submission

In [146]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [147]:
# и убедиться что ни чего не пропустил)
len(answers)

27