## Импорт библиотек и исходных данных

In [1]:
import pandas as pd
import numpy as np

In [2]:
log = pd.read_csv('log.csv', header=None)
users = pd.read_csv('users.csv', encoding='KOI8-R', sep = "\t")


## Пользовательские функции

In [3]:
def user_id_correct(s):
    if 'Запись пользователя № - ' in s:
        s = s.replace('Запись пользователя № - ','')
        return(s)
    if '#error' in s:
        s = ""
        return(s)

## Предобработка данных

In [4]:
#  Переименование колонок

log.columns = ['user_id', 'time', 'bet', 'win']
users.columns = ['user_id', 'email', 'geo']
log.user_id = log.user_id.apply(user_id_correct)

In [5]:
log.time = log.time.apply(lambda t: t if pd.isna(t) else str(t).replace('[',''))
log_copy = log.copy()

In [6]:
log = log[log.user_id != '']

In [7]:
log

      user_id                 time      bet     win
0    user_919  2019-01-01 14:06:51      NaN     NaN
1    user_973  2019-01-01 14:51:16      NaN     NaN
2    user_903  2019-01-01 16:31:16      NaN     NaN
3    user_954  2019-01-01 17:17:51      NaN     NaN
4    user_954  2019-01-01 21:31:18      NaN     NaN
..        ...                  ...      ...     ...
991  user_965  2019-04-20 12:55:41    800.0  6927.0
992  user_967  2019-04-20 14:59:36  10154.0     NaN
993  user_973  2019-04-20 17:09:56  10254.0     NaN
994  user_977  2019-04-20 18:10:07  10354.0     NaN
995  user_984   2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]

In [8]:
users

     user_id                     email          geo
0   User_943       Accumanst@gmail.com       Ижевск
1   User_908         Advismowr@mail.ru       Ижевск
2   User_962           Anachso@ukr.net    Краснодар
3   User_973          Antecia@inbox.ru        Пермь
4   User_902        Balliaryva@ukr.net          NaN
..       ...                       ...          ...
95  User_959  UpdatesCurious@yahoo.com       Тюмень
96  User_901        V2artierso@mail.ru  Арзангелтск
97  User_970          Vashoterlo@bk.ru      Воронеж
98  User_965       Visuareda@yahoo.com      Воронеж
99  User_921              Aavast@ya.ru       Ижевск

[100 rows x 3 columns]

## Какие вопросы остались?

* Сколько раз человеку надо прийти, чтобы сделать ставку?
* Каков средний выигрыш в процентах?
* Каков баланс по каждому пользователю?
* Какие города самые выгодные?
* В каких городах самая высокая ставка?
* Сколько в среднем времени проходит от первого посещения сайта до первой попытки?

## 12.1 Пропущенные значения

### Задание 1
Посчитайте количество пропусков в столбце time. Метод isna() есть не только у DataFrame, но и у Series. Это значит, что применять его можно не только ко всей таблице, но и к каждому столбцу отдельно.
Примените этот метод, затем просуммируйте количество строк в итоговом столбце. Используйте оригинальный датасет log.csv. Ответ введите в поле ниже.

In [9]:
log_copy.time.isna().sum()

15

In [10]:
log_back_up = log_copy.copy()

### Задание 2
Удалите все столбцы, где есть пропуски. Запишите в поле, сколько осталось столбцов в данных после этого.
Используйте оригинальный датасет log.csv.

In [11]:
log_copy.dropna(axis=1, subset=range(999))

      user_id
0    user_919
1    user_973
2    user_903
3    user_954
4    user_954
..        ...
995  user_984
996
997
998
999

[1000 rows x 1 columns]

### Задание 3

Удалите все строки, где есть пропуски. Запишите в поле, сколько осталось строк в данных после этого.

Используйте оригинальный датасет log.csv.

In [12]:
log_copy.dropna(axis=0, subset=['user_id','time','bet','win'])

      user_id                 time        bet        win
14   user_917   2019-01-02 8:57:36   145732.0  1987653.0
29   user_942  2019-01-04 13:59:42  1678321.0  9876543.0
151  user_982  2019-01-16 21:54:22      100.0     4749.0
189  user_964  2019-01-21 18:34:44      200.0     4667.0
205  user_931   2019-01-22 5:26:59      300.0     4319.0
..        ...                  ...        ...        ...
967  user_975  2019-04-19 22:25:15     1000.0     6108.0
971  user_912  2019-04-20 10:35:49    10554.0    31799.0
972  user_926  2019-04-20 10:35:50    10354.0    30244.0
976  user_970  2019-04-20 10:35:54    10354.0    30691.0
991  user_965  2019-04-20 12:55:41      800.0     6927.0

[133 rows x 4 columns]

## 12.2. Дубли

### Задание 1

Удалите дубли среди столбцов user_id и time. Запишите в поле ниже, сколько осталось строк после удаления дублей.

Используйте оригинальный датасет log.csv.

In [13]:
log_copy.drop_duplicates(subset=['user_id', 'time'])

      user_id                 time      bet     win
0    user_919  2019-01-01 14:06:51      NaN     NaN
1    user_973  2019-01-01 14:51:16      NaN     NaN
2    user_903  2019-01-01 16:31:16      NaN     NaN
3    user_954  2019-01-01 17:17:51      NaN     NaN
4    user_954  2019-01-01 21:31:18      NaN     NaN
..        ...                  ...      ...     ...
991  user_965  2019-04-20 12:55:41    800.0  6927.0
992  user_967  2019-04-20 14:59:36  10154.0     NaN
993  user_973  2019-04-20 17:09:56  10254.0     NaN
994  user_977  2019-04-20 18:10:07  10354.0     NaN
995  user_984   2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

## 12.3 Преобразование к datetime

Уберите лишний символ, преобразуйте признак time к datetime. После этого найдите наибольшую дату и выведите ее без времени.

Подсказка: можно применить метод max() к получившемуся столбцу со временем.

Не забудьте избавиться от пропусков.

Запишите ответ в формате "YYYY-MM-DD".

In [14]:
log_copy.time = pd.to_datetime(log_copy.time, format='%Y%m%d %H:%M:%S')

In [15]:
log_copy.time.max().strftime('%Y-%m-%d')

'2019-04-20'

In [16]:
# Эталонный код

# import pandas as pd 
# log = pd.read_csv("log.csv")  
# log = log.dropna()  
# log.columns = ['user_id', 'time', 'bet', 'win']  
# log['time'] = log['time'].apply(lambda x: x[1:])  
# log['time'] = pd.to_datetime(log['time'])  
# log['time'].head()

## 12.4 Извлечение признаков времени

### Задание 1
Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts().

Найдите минуту, которая встречалась в данных чаще всего. Введите ответ в поле ниже.

In [17]:
log_copy.time.dt.minute.value_counts(ascending=False).iloc[0]

25

### Задание 2

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts().

Найдите месяц, который встречался в данных реже всего. Введите ответ в поле ниже.

In [18]:
log_copy.time.dt.month.value_counts(ascending=False)

1.0    292
3.0    264
2.0    259
4.0    170
Name: time, dtype: int64

### Задание 3*

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать sum().

Посчитайте, сколько дней в данных являются выходными (то есть субботой или воскресеньем). Введите ответ в поле ниже.

In [19]:
log_copy.time.dt.day_name().value_counts().loc[['Saturday','Sunday']].sum()

283

### Задание 4*

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts(). Кроме этого, потребуется написать функцию, которая преобразует дату во время дня.

Договоримся, что с 0 до 5 часов - ночь, с 6 до 11 - утро, с 12 до 17 - день, с 18 до 23 - вечер.

Важно: для выполнения задания вам нужно будет избавиться от пропусков только в столбце time. Вспомните, как избавиться от пропусков только по конкретному признаку.

Посчитайте, какое время дня встречается в данных реже всего. Введите ответ в поле ниже: ночь, утро, день или вечер.

In [20]:
pd.cut(log_copy.dropna(subset = ['time']).time.dt.hour, bins=4).value_counts()

(-0.023, 5.75]    265
(5.75, 11.5]      253
(11.5, 17.25]     240
(17.25, 23.0]     227
Name: time, dtype: int64

## 12.5 Снова смотрим на пропуски

### Задание 1

Используйте оригинальный датасет log.csv. Результат запишите числом в поле ниже.

Подсказка: можно использовать value_counts().

Посчитайте, сколько раз люди приходили, но не делали ставок. Для этого заполните пропуски в столбце bet значением 0 и посчитайте количество таких значений.

In [21]:
#log_copy = log_copy.bet.fillna(0).value_counts()
log_copy

      user_id                time      bet      win
0    user_919 2019-01-01 14:06:51      NaN      NaN
1    user_973 2019-01-01 14:51:16      NaN      NaN
2    user_903 2019-01-01 16:31:16      NaN      NaN
3    user_954 2019-01-01 17:17:51      NaN      NaN
4    user_954 2019-01-01 21:31:18      NaN      NaN
..        ...                 ...      ...      ...
995  user_984 2019-04-20 09:59:58   9754.0      NaN
996                           NaT  10054.0  29265.0
997                           NaT  10454.0      NaN
998                           NaT   1000.0      NaN
999                           NaT  10754.0      NaN

[1000 rows x 4 columns]

### Задание 2

Используйте оригинальный датасет log.csv. Проделайте с ним действия из задания 1, расположенного выше на этой странице, и из пункта "Заполнение с помощью 
функции".

Посчитайте, сколько раз участники ставок проиграли деньги. То есть посчитайте количество строк, для которых в столбце win находится отрицательное значение.

In [22]:
def fillna_win(row):
# Нужно дописать 
   if pd.isna(row.win)==False:
       return row.win
   elif pd.isna(row.win)==True and pd.isna(row.bet)==True:
       return 0
   elif pd.isna(row.win)==True and pd.isna(row.bet)==False:
       row.win = -(row.bet)
       return row.win
    

new_win = log_copy.apply(lambda row: fillna_win(row), axis=1) 
log_copy.win = new_win
log_copy[log_copy['win'] < 0].win

5     -156789.0
19     -98753.0
67      -5000.0
81    -123981.0
92       -100.0
         ...
994    -10354.0
995     -9754.0
997    -10454.0
998     -1000.0
999    -10754.0
Name: win, Length: 347, dtype: float64

## 12.6 Есть ли смысл играть?

In [23]:
log_copy.bet = log_copy.bet.fillna(0)
log_copy.win = log_copy.win.fillna(0)

### Задание 1

In [24]:
log_copy

      user_id                time      bet      win
0    user_919 2019-01-01 14:06:51      0.0      0.0
1    user_973 2019-01-01 14:51:16      0.0      0.0
2    user_903 2019-01-01 16:31:16      0.0      0.0
3    user_954 2019-01-01 17:17:51      0.0      0.0
4    user_954 2019-01-01 21:31:18      0.0      0.0
..        ...                 ...      ...      ...
995  user_984 2019-04-20 09:59:58   9754.0  -9754.0
996                           NaT  10054.0  29265.0
997                           NaT  10454.0 -10454.0
998                           NaT   1000.0  -1000.0
999                           NaT  10754.0 -10754.0

[1000 rows x 4 columns]

In [25]:
def fill_net(row):
    if row.win < 0:
        return row.win
    else:
        return (row.win - row.bet)

net = log_copy.apply(lambda row: fill_net(row), axis=1)
log_copy['net'] = net
log_copy[log_copy['net'] > 0].net.median()

5347.0

### Задание 4
Как можно посчитать среднее значение для столбца bet, не учитывая при подсчете пропуски?

In [26]:
log_copy.bet.mean()

3291.083

In [27]:
log_copy.bet.sum() / log_copy.bet.dropna().shape[0]

3291.083

In [28]:
np.mean(log_copy.bet)

3291.083

In [29]:
log_copy

      user_id                time      bet      win      net
0    user_919 2019-01-01 14:06:51      0.0      0.0      0.0
1    user_973 2019-01-01 14:51:16      0.0      0.0      0.0
2    user_903 2019-01-01 16:31:16      0.0      0.0      0.0
3    user_954 2019-01-01 17:17:51      0.0      0.0      0.0
4    user_954 2019-01-01 21:31:18      0.0      0.0      0.0
..        ...                 ...      ...      ...      ...
995  user_984 2019-04-20 09:59:58   9754.0  -9754.0  -9754.0
996                           NaT  10054.0  29265.0  19211.0
997                           NaT  10454.0 -10454.0 -10454.0
998                           NaT   1000.0  -1000.0  -1000.0
999                           NaT  10754.0 -10754.0 -10754.0

[1000 rows x 5 columns]

### Задание 1
Используйте модифицированный датасет log.csv.

При модификации датасета log.csv, пропущенные значения в столбцах bet и win замените на 0, cоздайте столбец net, хранящий сумму выигрыша с учетом ставки (для этого из столбца win поэлементно вычтите столбец bet и запишите в новый столбец).

Посчитайте, какой процент посещений букмекерской конторы оборачивался ставкой. Для этого поделите количество ставок (значений больше 0) на общее количество посещений конторы. Результат округлите до одного знака после запятой.

In [30]:
log_copy[log_copy['bet'] > 0].user_id.count()/1000*100

48.5

### Задание 2
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.

Посчитайте среднее значение ставки (из столбца bet) в тех случаях, когда ставка была сделана. Запишите результат, отбросив дробную часть.

In [31]:
log_copy[log_copy['bet'] > 0].bet.mean()

6785.738144329897

### Задание 3

Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.

Посчитайте средний выигрыш (из столбца net) в тех случаях, когда ставка была сделана. В ответ запишите полученное число с отброшенной дробной частью.
Пояснение: выигрыш в данном случае означает изменение количества денег и может быть отрицательным. В таком случае это проигрыш.

Подсказка: можно использовать mean().

In [32]:
log_copy[log_copy['bet'] > 0].net.mean()

20421.892783505155

### Задание 4

Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.

Посчитайте среднее значение потерь при проигрыше (из столбца net). Результат округлите до целого, отбросив дробную часть.
Пояснение: ответ должен быть дан в виде отрицательного числа.

Подсказка: можно использовать mean().

In [33]:
log_copy[log_copy['net'] < 0].net.mean()

-3372.743515850144

### Задание 5

Посчитайте, какой процент ставок заканчивается выигрышем, а какой - проигрышем. Сравните эти значения и ответьте, какое из них больше.

Выберите пункт из списка ниже.

In [34]:
log_copy[log_copy['net'] < 0].user_id.count()
log_copy[log_copy['net'] > 0].user_id.count()

138

In [35]:
log_copy

      user_id                time      bet      win      net
0    user_919 2019-01-01 14:06:51      0.0      0.0      0.0
1    user_973 2019-01-01 14:51:16      0.0      0.0      0.0
2    user_903 2019-01-01 16:31:16      0.0      0.0      0.0
3    user_954 2019-01-01 17:17:51      0.0      0.0      0.0
4    user_954 2019-01-01 21:31:18      0.0      0.0      0.0
..        ...                 ...      ...      ...      ...
995  user_984 2019-04-20 09:59:58   9754.0  -9754.0  -9754.0
996                           NaT  10054.0  29265.0  19211.0
997                           NaT  10454.0 -10454.0 -10454.0
998                           NaT   1000.0  -1000.0  -1000.0
999                           NaT  10754.0 -10754.0 -10754.0

[1000 rows x 5 columns]

In [36]:
users_copy = users.copy()

In [37]:
users_copy.user_id = users_copy.user_id.apply(lambda x: x.lower())
log_copy = log_copy[log_copy.user_id != '#error']

user_966    18
user_972    16
user_983    15
user_937    15
            15
            ..
user_945     5
user_909     5
user_915     5
user_957     5
user_921     4
Name: user_id, Length: 102, dtype: int64

Объединить датафреймы

In [38]:
merged_df = pd.merge(users_copy, log_copy, on='user_id') 
merged_df

,user_id,email,geo,time,bet,win,net
0,user_943,Accumanst@gmail.com,Ижевск,2019-01-06 21:06:57,0.0,0.0,0.0
1,user_943,Accumanst@gmail.com,Ижевск,2019-01-10 12:16:22,100.0,-100.0,-100.0
2,user_943,Accumanst@gmail.com,Ижевск,2019-01-27 01:18:47,100.0,-100.0,-100.0
3,user_943,Accumanst@gmail.com,Ижевск,2019-02-10 11:09:24,100.0,5456.0,5356.0
4,user_943,Accumanst@gmail.com,Ижевск,2019-02-12 15:09:38,300.0,5245.0,4945.0
...,...,...,...,...,...,...,...
970,user_965,Visuareda@yahoo.com,Воронеж,2019-04-20 12:55:41,800.0,6927.0,6127.0
971,user_921,Aavast@ya.ru,Ижевск,2019-01-07 01:05:59,0.0,0.0,0.0
972,user_921,Aavast@ya.ru,Ижевск,2019-02-05 14:08:57,0.0,0.0,0.0
973,user_921,Aavast@ya.ru,Ижевск,2019-02-09 23:20:21,400.0,6067.0,5667.0
974,user_921,Aavast@ya.ru,Ижевск,2019-02-10 17:53:37,900.0,-900.0,-900.0

In [39]:
merged_df.groupby('user_id').net.sum().median()

1986.0

In [40]:
merged_df.groupby(['user_id','bet']).bet.count()

user_id    bet
user_1000  0.0        8
           100.0      1
           300.0      1
           400.0      1
           800.0      1
                     ..
user_998   10654.0    1
user_999   0.0        5
           100.0      1
           700.0      1
           800.0      1
Name: bet, Length: 506, dtype: int64

In [41]:
merged_df.groupby(['user_id','bet']).bet.count().loc['user_1000'].sum()

12

In [42]:
merged_df.groupby(['user_id','bet']).bet.count().loc['user_1000'].loc[0]

8

In [43]:
users_zero_bets = {'users': [], 'num_zero_bet':[]}
# пробегаем по списку посетителей
for i in merged_df.groupby('user_id').user_id.count().index:
    #  если разность суммы ставок и нулевых ставок этого человека
    #  не меньше 1 значит это наш клиент
    if merged_df.groupby(['user_id','bet']).bet.count().loc[i].sum() - merged_df.groupby(['user_id','bet']).bet.count().loc[i].loc[0] >= 1:
    # создаем словарь

        users_zero_bets['users'].append(i)
        users_zero_bets['num_zero_bet'].append(merged_df.groupby(['user_id','bet']).bet.count().loc[i].sum() - merged_df.groupby(['user_id','bet']).bet.count().loc[i].loc[0])

users_zero_bets_df = pd.DataFrame(users_zero_bets)
users_zero_bets_df.num_zero_bet.mean()

4.7

In [44]:
# ! нужно разобраться !!!!!
# создаем два датафрейма для подсчета случаев нулевой ставки
group = merged_df[merged_df.bet==0].groupby('user_id').bet.count() 
group_not_null = merged_df[merged_df.bet>0].groupby('user_id').bet.count()
# и объединяем по user_id
joined=pd.merge(group, group_not_null, on=['user_id'])
# # Оставим только те строки, в которых у посетителя была хотя бы одна ставка
# joined = joined[joined['bet_y']>0]
# # И посчитаем среднее количество приходов без ставки
# joined['bet_x'].sum()/len(joined)

In [45]:
merged_df

,user_id,email,geo,time,bet,win,net
0,user_943,Accumanst@gmail.com,Ижевск,2019-01-06 21:06:57,0.0,0.0,0.0
1,user_943,Accumanst@gmail.com,Ижевск,2019-01-10 12:16:22,100.0,-100.0,-100.0
2,user_943,Accumanst@gmail.com,Ижевск,2019-01-27 01:18:47,100.0,-100.0,-100.0
3,user_943,Accumanst@gmail.com,Ижевск,2019-02-10 11:09:24,100.0,5456.0,5356.0
4,user_943,Accumanst@gmail.com,Ижевск,2019-02-12 15:09:38,300.0,5245.0,4945.0
...,...,...,...,...,...,...,...
970,user_965,Visuareda@yahoo.com,Воронеж,2019-04-20 12:55:41,800.0,6927.0,6127.0
971,user_921,Aavast@ya.ru,Ижевск,2019-01-07 01:05:59,0.0,0.0,0.0
972,user_921,Aavast@ya.ru,Ижевск,2019-02-05 14:08:57,0.0,0.0,0.0
973,user_921,Aavast@ya.ru,Ижевск,2019-02-09 23:20:21,400.0,6067.0,5667.0
974,user_921,Aavast@ya.ru,Ижевск,2019-02-10 17:53:37,900.0,-900.0,-900.0

In [57]:
merged_df.iloc[0]['time']

Timestamp('2019-01-06 21:06:57')

In [73]:
dict_ = {'user_id':[],'first_zero':[], 'first_bet':[]}
for _, group in merged_df.groupby('user_id'):
    ### Цикл для каждой группы нужно определить
    if group[group['bet'] == 0].sort_values(by='time').iloc[0].time < group[group['bet'] > 0].sort_values(by='time').iloc[0].time:
        dict_['user_id'].append(group.user_id.iloc[0])
    
        dict_['first_zero'].append(group[group['bet'] == 0].sort_values(by='time').iloc[0].time)
        dict_['first_bet'].append(group[group['bet'] > 0].sort_values(by='time').iloc[0].time)

new_df = pd.DataFrame(dict_)
new_df['days'] = new_df['first_bet'] - new_df['first_zero']

In [76]:
new_df.days

0     7 days 01:26:03
1    38 days 05:59:22
2    66 days 05:05:21
3    40 days 13:40:05
4    37 days 18:34:44
           ...
90   57 days 22:09:46
91   50 days 05:33:05
92   58 days 14:10:10
93   22 days 06:08:55
94   67 days 12:42:55
Name: days, Length: 95, dtype: timedelta64[ns]

In [84]:
merged_df.groupby('geo').win.sum().sort_values(ascending =False)

geo
Москва             11379755.0
Воронеж              107514.0
Санкт-Петербург      105345.0
Казань                75352.0
Ярославль             46845.0
Ижевск                34479.0
Хабаровск             33451.0
Екатеринбург          28582.0
Красноярск            27397.0
Арзангелтск           25813.0
Пермь                 19518.0
Краснодар              3248.0
Ставрополь              487.0
Тюмень                 -499.0
Name: win, dtype: float64

In [93]:
merged_df.groupby('geo').bet.mean().sort_values(ascending =False)

geo
Москва             39793.327869
Ставрополь          1582.500000
Красноярск          1428.178571
Воронеж             1324.840909
Пермь               1135.818182
Ижевск              1079.836066
Краснодар            839.813953
Хабаровск            757.700000
Ярославль            750.000000
Казань               714.575758
Арзангелтск          663.708333
Санкт-Петербург      654.521739
Екатеринбург         228.571429
Тюмень               175.000000
Name: bet, dtype: float64

In [91]:
merged_df.groupby('geo').bet.mean().min()

175.0